@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$headerFontfamily: "Bebas Neue";

$mainFontFamily: "Quantico";

$primaryColor: #232323;

$backgroundColor: #f6f0e6;

$baseTextSize: 1rem;

$uppercaseText: to-upper-case($string: "");


