@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap");
.card {
  border: 1px solid #232323;
  margin: 16px;
  padding: 16px;
}

.base-position {
  margin: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quantico";
}

.navbar {
  padding: 10px;
  display: flex;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
}

.navbar-menu {
  position: relative;
  display: inline-block;
}
.navbar-menu .dropbtn {
  background-color: white;
  border: none;
  font-size: 1.5rem;
}
.navbar-menu .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  min-width: 160px;
}
.navbar-menu li {
  list-style: none;
}
.navbar-menu li a {
  color: #232323;
  text-decoration: none;
  display: block;
  cursor: pointer;
  padding: 12px 16px;
}
.navbar-menu:hover {
  background-color: #f1f1f1;
}
.navbar-menu:hover .dropdown-content {
  display: block;
  right: 20px;
  z-index: 1;
}
.navbar-menu:hover .dropdown-list--item:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.header-main {
  color: #232323;
  font-family: "Bebas Neue";
  font-size: 8rem;
  width: 100vw;
  text-align: center;
}

.menu-list, .flex-container .main-link, .section--family-houses .h3-header {
  font-family: "Quantico";
  font-size: 2.5rem;
  text-transform: uppercase;
  margin-left: 16px;
  font-size: 1.5rem;
}

hr {
  border: 1px solid #232323;
  margin: 0;
  width: 100%;
}

.main-text {
  color: #232323;
  font-family: "Quantico";
  font-size: 1rem;
}

.h2-header {
  font-family: "Quantico";
  font-size: 2.5rem;
  text-transform: uppercase;
  margin-left: 16px;
  padding-bottom: 19.2px;
  background: none;
  display: block;
}

.section--family-houses .h3-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 16px;
}
.section--family-houses .h3-header .arrow {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #1d1f24;
}
.section--family-houses .grid-container {
  display: grid;
  width: 100%;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  padding: 16px;
}
.section--family-houses .grid-container .small-img-grid1 {
  grid-column-start: 1;
  grid-column-end: 2;
  width: 99%;
}
.section--family-houses .grid-container .small-img-grid2 {
  grid-column-start: 2;
  grid-column-end: 3;
  width: 99%;
}
.section--family-houses .grid-container .larg-img-grid {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  width: 99%;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 16px;
  margin-bottom: 16px;
}
.flex-container .main-link {
  color: #232323;
  position: relative;
  text-decoration: none;
}
.flex-container .main-link::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0f1011;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.flex-container .main-link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.base-text {
  color: #232323;
  font-family: "Quantico";
  font-size: 1rem;
  margin-left: 16px;
}

.upper-text {
  color: #232323;
  font-family: "Quantico";
  font-size: 1rem;
  text-transform: uppercase;
  padding: 16px;
}

.recent-work-img {
  width: 100%;
  padding: 16px;
}

.menu-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-direction: column;
}
.menu-list .menu-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 16px;
  padding-top: 32px;
}
.menu-list .menu-item .main-link {
  color: #232323;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

#dark-footer {
  background-color: #393939;
  color: #f6f0e6;
}

.flex-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 32px;
  padding: 16px;
  background-color: #393939;
}
.flex-footer .logo-f {
  padding: 16px;
  border: 2px solid #f9f9f9;
  width: 90vw;
  align-self: center;
  border-bottom: none;
}
.flex-footer .logo-f h5 {
  font-family: "Bebas Neue";
  font-size: 1.25rem;
}
.flex-footer .nav-list-footer {
  align-self: center;
}
.flex-footer .nav-list-footer ul {
  list-style: none;
  padding: 16px;
  border: 2px solid #f9f9f9;
  width: 90vw;
  align-self: center;
}
.flex-footer .nav-list-footer ul a {
  color: #232323;
  text-decoration: none;
  display: block;
  cursor: pointer;
  color: #f6f0e6;
}
.flex-footer .address-f {
  padding: 16px;
  border: 2px solid #f9f9f9;
  width: 90vw;
  align-self: center;
  border-top: none;
}
.flex-footer .address-f address {
  font-style: normal;
}
.flex-footer .address-f address a {
  color: #232323;
  text-decoration: none;
  display: block;
  cursor: pointer;
  display: inline-block;
  color: #f6f0e6;
}
.flex-footer .email-f {
  padding: 16px;
  border: 2px solid #f9f9f9;
  width: 90vw;
  align-self: center;
  border-top: none;
}
.flex-footer .email-f address {
  font-style: normal;
}
.flex-footer .email-f address a {
  color: #232323;
  text-decoration: none;
  display: block;
  cursor: pointer;
  display: inline-block;
  color: #f6f0e6;
  margin-left: 8px;
  padding-bottom: 16px;
}
.flex-footer .email-f .phone-f {
  display: flex;
  align-items: center;
}
.flex-footer .email-f .phone-f .phone-num {
  margin-left: 8px;
}
.flex-footer .email-f .phone-f .phone-num span {
  display: block;
}
.flex-footer .social-links-f {
  padding: 16px;
  border: 2px solid #f9f9f9;
  width: 90vw;
  align-self: center;
  border-top: none;
  display: flex;
  justify-content: space-between;
  font-size: 2.5rem;
}
.flex-footer .social-links-f a {
  color: #232323;
  text-decoration: none;
  display: block;
  cursor: pointer;
  color: #f6f0e6;
}
.flex-footer .privacy-f {
  padding: 16px;
  border: 2px solid #f9f9f9;
  width: 90vw;
  align-self: center;
  border-top: none;
}
.flex-footer .privacy-f small {
  display: block;
  line-height: 2rem;
}/*# sourceMappingURL=styles.css.map */