@use "../styles/" as *;

@use "../styles/components/card";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $main-font-family;
}

body {
  animation: fadeInAnimation ease 1500ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@mixin header() {
  color: $primary-color;
  font-family: $header-font-family;
  font-size: $header-font-size-sm;
  text-align: center;
}

@mixin h2-header() {
  font-family: $main-font-family;
  font-size: $xl-font-size;
  text-transform: uppercase;
  margin-left: $base-margin;
}

@mixin main-text() {
  color: $primary-color;
  font-family: $main-font-family;
  font-size: $base-font-size;
}

@mixin li() {
  list-style: $base-list-style;
}

@mixin a() {
  color: $primary-color;
  text-decoration: $base-link-dec;
  display: block;
  cursor: pointer;
}

@mixin flex-container() {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.top-nav {
  @include flex-container();
  background: none;
  color: $primary-color;
  height: 54px;
  padding: $base-padding;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  a {
    @include a();
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: #0f1011;
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
    }
    &:hover::after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

// main section
@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(10%);
  }
  75% {
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(0);
  }
}
.header-main {
  @include header();
  width: 100%;
  animation: 2000ms ease-out -500ms 1 slideInLeft;
}

%h3-header {
  @include h2-header();
  font-size: $large-font-size;
}

hr {
  border: $base-border;
  margin: 0;
  width: 100%;
}

.main-text {
  @include main-text();
}

// Work compilation list
.h2-header {
  @include h2-header;
  padding-bottom: $base-padding * 1.2;
  background: none;
  display: block;
}

.section--family-houses {
  .h3-header {
    @extend %h3-header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: $base-margin;

    .arrow {
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 6px solid #1d1f24;
    }
  }
  .grid-container {
    display: grid;
    width: 100%;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(8, 1fr);
    gap: $base-margin;
    padding: $base-padding;

    .galery-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .small-img-grid1 {
      grid-column: 1 / span 4;
      grid-row: 1 / span 4;
    }

    .small-img-grid2 {
      grid-column: 5 / span 4;
      grid-row: 1 / span 4;
    }

    .larg-img-grid {
      grid-column: 1 / span 8;
      grid-row: 5 / span 4;
    }
  }
}

.flex-container {
  @include flex-container();
  margin-right: $base-margin;
  margin-bottom: $base-margin;

  .main-link {
    @extend %h3-header;
    color: $primary-color;
    position: relative;
    text-decoration: $base-link-dec;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: #0f1011;
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
    }
    &:hover::after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }
}

.base-text {
  @include main-text();
  margin-left: $base-margin;
}

.upper-text {
  @include main-text();
  text-transform: uppercase;
  padding: $base-padding;
}

.recent-work-img {
  width: 100%;
  padding: $base-padding;
}

.menu-list {
  @extend %h3-header;
  @include li();
  @include flex-container();
  flex-direction: column;

  .menu-item {
    @include flex-container();
    margin-right: $base-margin;
    padding-top: $base-padding * 2;

    .main-link {
      @include a();
    }
  }
}

// Footer styling
@mixin block-footer {
  padding: $base-padding;
  border: 2px solid #f9f9f9;
  width: 90vw;
  align-self: center;
}

#dark-footer {
  background-color: #393939;
  color: $background-color;
}

.flex-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 32px;
  padding: $base-padding;
  background-color: $foter-dark-background;

  .logo-f {
    @include block-footer();
    border-bottom: none;
    h5 {
      font-family: "Bebas Neue";
      font-size: $big-font-size;
    }
  }
  .nav-list-footer {
    align-self: center;
    ul {
      @include li();
      @include block-footer();

      a {
        @include a();
        color: $background-color;
      }
    }
  }
  .address-f {
    @include block-footer();
    border-top: none;
    address {
      font-style: normal;
      a {
        @include a();
        display: inline-block;
        color: $background-color;
      }
    }
  }
  .email-f {
    @include block-footer();
    border-top: none;
    address {
      font-style: normal;
      a {
        @include a();
        display: inline-block;
        color: $background-color;
        margin-left: $base-margin / 2;
        padding-bottom: $base-padding;
      }
    }
    .phone-f {
      display: flex;
      align-items: center;
      .phone-num {
        margin-left: $base-margin / 2;
        span {
          display: block;
        }
      }
    }
  }
  .social-links-f {
    @include block-footer();
    border-top: none;
    display: flex;
    justify-content: space-between;
    font-size: $xl-font-size;
    a {
      @include a();
      color: $background-color;
    }
  }
  .privacy-f {
    @include block-footer();
    border-top: none;
    small {
      display: block;
      line-height: 2rem;
    }
  }
}

// Style for phone size navbar
@media (max-width: 700px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 54px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    li {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0.5rem 0;
      width: 100%;
      color: $background-color;
      background-color: $foter-dark-background;
      a {
        @include a();
        color: $background-color;
      }
    }
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: $base-border;
    height: 2.5rem;
    padding: $base-padding * 0.5;
  }
  .menu > li:not(:last-child) {
    border-bottom: $base-border;
  }
}

@media (min-width: 720px) {
  .header-main {
    @include header();
    font-size: $header-font-size-lg;
    letter-spacing: 1.5rem;
    width: auto;
  }

  #goal-container {
    @include flex-container();
    margin: 0 $base-margin * 2 $base-margin * 5;
    .card {
      width: 33%;
      padding: 24px;
      &:hover {
        border: 2px solid #393939;
      }
    }
  }

  .section--family-houses {
    width: 90%;
    margin: 2rem auto;

    .grid-container {
      grid-template-columns: repeat(12, 1fr);
      .small-img-grid1 {
        grid-column: 3 / span 2;
        grid-row: 2 / span 2;
      }

      .small-img-grid2 {
        grid-column: 5 / span 2;
        grid-row: 2 / span 2;
      }

      .larg-img-grid {
        grid-column: 7 / span 4;
        grid-row: 2 / span 2;
      }
    }

    .flex-container--recent-work {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 40px;
      width: 100%;
    }
    .recent-work-img {
      padding: 0;
      width: 80%;
    }
  }
  .menu-list {
    margin: $base-margin * 4;
  }
}

.galery-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
