@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap");
.card {
  border: 1px solid #232323;
  margin: 16px;
  padding: 16px;
}

.base-position {
  margin: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quantico";
}

body {
  animation: fadeInAnimation ease 1500ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  background-color: #f6f0e6;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.top-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: none;
  color: #232323;
  height: 54px;
  padding: 16px;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}
.menu a {
  color: #232323;
  text-decoration: none;
  display: block;
  cursor: pointer;
  position: relative;
}
.menu a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0f1011;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.menu a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(10%);
  }
  75% {
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(0);
  }
}
.header-main {
  color: #232323;
  font-family: "Bebas Neue";
  font-size: 8rem;
  text-align: center;
  width: 100%;
  animation: 2000ms ease-out -500ms 1 slideInLeft;
}

.menu-list, .flex-container .main-link, .section--family-houses .h3-header {
  font-family: "Quantico";
  font-size: 2.5rem;
  text-transform: uppercase;
  margin-left: 16px;
  font-size: 1.5rem;
}

hr {
  border: 1px solid #232323;
  margin: 0;
  width: 100%;
}

.main-text {
  color: #232323;
  font-family: "Quantico";
  font-size: 1rem;
}

.h2-header {
  font-family: "Quantico";
  font-size: 2.5rem;
  text-transform: uppercase;
  margin-left: 16px;
  padding-bottom: 19.2px;
  background: none;
  display: block;
}

.section--family-houses .h3-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 16px;
}
.section--family-houses .h3-header .arrow {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #1d1f24;
}
.section--family-houses .grid-container {
  display: grid;
  width: 100%;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(8, 1fr);
  gap: 16px;
  padding: 16px;
}
.section--family-houses .grid-container .galery-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section--family-houses .grid-container .small-img-grid1 {
  grid-column: 1/span 4;
  grid-row: 1/span 4;
}
.section--family-houses .grid-container .small-img-grid2 {
  grid-column: 5/span 4;
  grid-row: 1/span 4;
}
.section--family-houses .grid-container .larg-img-grid {
  grid-column: 1/span 8;
  grid-row: 5/span 4;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 16px;
  margin-bottom: 16px;
}
.flex-container .main-link {
  color: #232323;
  position: relative;
  text-decoration: none;
}
.flex-container .main-link::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0f1011;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.flex-container .main-link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.base-text {
  color: #232323;
  font-family: "Quantico";
  font-size: 1rem;
  margin-left: 16px;
}

.upper-text {
  color: #232323;
  font-family: "Quantico";
  font-size: 1rem;
  text-transform: uppercase;
  padding: 16px;
}

.recent-work-img {
  padding: 16px;
  position: relative;
  overflow: hidden;
}
.recent-work-img img {
  max-width: 100%;
  transform: scale(1);
  transition: all 0.6s linear;
}
.recent-work-img img:hover {
  transform: scale(1.2);
}

.menu-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-direction: column;
}
.menu-list .menu-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 16px;
  padding-top: 32px;
}
.menu-list .menu-item .main-link {
  color: #232323;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

#dark-footer {
  background-color: #393939;
  color: #f6f0e6;
}

.flex-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 32px;
  padding: 16px;
  background-color: #393939;
}
.flex-footer .logo-f {
  padding: 16px;
  border: 2px solid #f9f9f9;
  width: 90vw;
  align-self: center;
  border-bottom: none;
}
.flex-footer .logo-f h5 {
  font-family: "Bebas Neue";
  font-size: 1.25rem;
}
.flex-footer .nav-list-footer {
  align-self: center;
}
.flex-footer .nav-list-footer ul {
  list-style: none;
  padding: 16px;
  border: 2px solid #f9f9f9;
  width: 90vw;
  align-self: center;
}
.flex-footer .nav-list-footer ul a {
  color: #232323;
  text-decoration: none;
  display: block;
  cursor: pointer;
  color: #f6f0e6;
}
.flex-footer .address-f {
  padding: 16px;
  border: 2px solid #f9f9f9;
  width: 90vw;
  align-self: center;
  border-top: none;
}
.flex-footer .address-f address {
  font-style: normal;
}
.flex-footer .address-f address a {
  color: #232323;
  text-decoration: none;
  display: block;
  cursor: pointer;
  display: inline-block;
  color: #f6f0e6;
}
.flex-footer .email-f {
  padding: 16px;
  border: 2px solid #f9f9f9;
  width: 90vw;
  align-self: center;
  border-top: none;
}
.flex-footer .email-f address {
  font-style: normal;
}
.flex-footer .email-f address a {
  color: #232323;
  text-decoration: none;
  display: block;
  cursor: pointer;
  display: inline-block;
  color: #f6f0e6;
  margin-left: 8px;
  padding-bottom: 16px;
}
.flex-footer .email-f .phone-f {
  display: flex;
  align-items: center;
}
.flex-footer .email-f .phone-f .phone-num {
  margin-left: 8px;
}
.flex-footer .email-f .phone-f .phone-num span {
  display: block;
}
.flex-footer .social-links-f {
  padding: 16px;
  border: 2px solid #f9f9f9;
  width: 90vw;
  align-self: center;
  border-top: none;
  display: flex;
  justify-content: space-between;
  font-size: 2.5rem;
}
.flex-footer .social-links-f a {
  color: #232323;
  text-decoration: none;
  display: block;
  cursor: pointer;
  color: #f6f0e6;
}
.flex-footer .privacy-f {
  padding: 16px;
  border: 2px solid #f9f9f9;
  width: 90vw;
  align-self: center;
  border-top: none;
}
.flex-footer .privacy-f small {
  display: block;
  line-height: 2rem;
}

@media (max-width: 700px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 54px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .menu li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5rem 0;
    width: 100%;
    color: #f6f0e6;
    background-color: #393939;
  }
  .menu li a {
    color: #232323;
    text-decoration: none;
    display: block;
    cursor: pointer;
    color: #f6f0e6;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #232323;
    height: 2.5rem;
    padding: 8px;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #232323;
  }
}
@media (min-width: 720px) {
  .header-main {
    color: #232323;
    font-family: "Bebas Neue";
    font-size: 8rem;
    text-align: center;
    font-size: 12rem;
    letter-spacing: 1.5rem;
    width: auto;
  }
  #goal-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 32px 80px;
  }
  #goal-container .card {
    width: 33%;
    padding: 24px;
    transition: all 200ms ease-in-out;
  }
  #goal-container .card:hover {
    border: 2px solid #393939;
    scale: 1.1;
  }
  .section--family-houses {
    width: 90%;
    margin: 2rem auto;
  }
  .section--family-houses .grid-container {
    grid-template-columns: repeat(12, 1fr);
  }
  .section--family-houses .grid-container .small-img-grid1 {
    grid-column: 3/span 2;
    grid-row: 2/span 2;
  }
  .section--family-houses .grid-container .small-img-grid2 {
    grid-column: 5/span 2;
    grid-row: 2/span 2;
  }
  .section--family-houses .grid-container .larg-img-grid {
    grid-column: 7/span 4;
    grid-row: 2/span 2;
  }
  .section--family-houses .flex-container--recent-work {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    width: 100%;
  }
  .section--family-houses .recent-work-img {
    padding: 0;
    width: 80%;
  }
  .menu-list {
    margin: 64px;
  }
  .flex-footer {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    width: 100%;
    justify-items: center;
    align-items: center;
  }
  .flex-footer .logo-f {
    width: -moz-fit-content;
    width: fit-content;
    border: none;
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .flex-footer .nav-list-footer ul {
    width: auto;
    border: none;
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .flex-footer .address-f {
    width: auto;
    border: none;
    grid-column: 3/5;
    grid-row: 1/2;
  }
  .flex-footer .email-f {
    width: auto;
    border: none;
    grid-column: 5/7;
    grid-row: 1/2;
  }
  .flex-footer .social-links-f {
    width: 20vw;
    border: none;
    grid-column: 7/9;
    grid-row: 1/2;
  }
  .flex-footer .social-links-f a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .flex-footer .social-links-f a i {
    margin: 8px;
  }
  .flex-footer .privacy-f {
    width: auto;
    border: none;
    grid-column: 1/9;
    grid-row: 2/3;
  }
  .flex-footer .privacy-f small {
    display: inline-block;
  }
}
.galery-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}/*# sourceMappingURL=styles.css.map */